<div class="container" style="margin:1% 15%;">
    <div style="padding:2% 5%;margin:1%">
        <div class="row">
            <div class="col-md-6" style="padding-left: 0px;">
                <h4 class="blue-text text-darken-2">單字翻譯</h4>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="輸入英文單字" [(ngModel)]="word" (keypress)="pressEnterKey($event)" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" (click)="btnSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <img [src]="imgPath" *ngIf="searching" width="60" height="60" /> <!-- Angular存取圖片路徑 -->

                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div>
                <b>歷史搜尋:</b> &nbsp;
                <button class="btn-link myHistoryWord" *ngFor="let w of historyWords"
                        (click)="wordTagSearch(w)">
                    {{w}}
                </button>
            </div>
        </div>


        <hr />

        <div class="row panel panel-default">
            <button class="btn red accent-2 right" (click)="addFavorite()">
                <i class="material-icons left" *ngIf="hasAdd; else addedFavorite">favorite</i>加到最愛
            </button>
            <div [innerHTML]="fullHtml | safeHtml" class="htmlDiv" style="padding:2% 5%;margin:1%"></div>   <!-- Angular內建使用Html -->
        </div>
    </div>
</div>


<!--尚未加到最愛-->
<ng-template #addedFavorite>
    <i class="material-icons left">favorite_border</i>
</ng-template>