<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">屬於自己的雲端筆記和字典</h5>
                <p class="grey-text text-lighten-4">
              Build your own cloud dictionary, just get your answers by query word, and save the word to your favorite dictionary.
              The website core functions is you can write to push your notes to cloud. it's a very helpful and useful website.</p>
            </div>
            <div class="col l3 s12">

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect Me 聯絡我</h5>
                <ul>
                    <li><a class="white-text" href="#!">elix1007@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Template Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
