
input {
  max-width: 400px ;
}

.tags a {
  background-color: #756f5d;
  padding: 10px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 11px;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
  text-decoration: none;
}

  .tags a i {
    padding-left: 5px;
    font-size: 9px;
  }
  .tags a:hover {
    background-color: #a38018;
  }
