<div style="background-color:#fff;padding:1% 10%; ">

  <!--Step1 Start-->
  <div id="step1" [hidden]="!(step == 1)">
    <div class="row">
      <h1 class="teal-text"><span class="label label-default">步驟1</span> 新增一個筆記</h1>
      <p name="text">使用以下編輯器製作文章。</p>
      <textarea name="editor1"></textarea>
    </div>

    <div class="row">
      <button class="btn-link" (click)="ExpandAndCollapse()">
        <i class="material-icons">open_in_new</i> 展開/收合
      </button>

      <span name="text">預覽文章</span>

      <div name="displayCK"
           [hidden]="!expand"
           style="padding:2%;border:1px solid #DDD">
        可於上方開始輸入...
      </div>
    </div>

    <div class="row">
      <a class="btn teal darken-3 pull-left" [routerLink]="['/notes']">
        <i class="material-icons">format_list_bulleted</i>
        回到列表
      </a>

      <button class="btn teal darken-1 pull-right" (click)="GoToStep(2)">
        <i class="material-icons">navigate_next</i> 下一步
      </button>
    </div>
  </div>
  <!--Step1 End-->
  <!--Step2 Start-->
  <div id="step2" [hidden]="!(step == 2)">
    <div class="row" style="height:490px;">
      <h1 class="teal-text"><span class="label label-default">步驟2</span> 筆記詳細</h1>
      <br />
      <div>文章標題：<input type="text" placeholder="輸入文章的標題" /></div>
      <div>封面圖片：<input type="file" style="display:inline" /></div>
      <br />
      <div>
        文章分類：
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <br />
      <div>
      <input type="text" style="width:150px;" placeholder="輸入文章的Tag" />
      <a href="#">加入TAG</a>
      </div>
      <div>
          <div class="tags">
            <a href="#">lorem<span><i class="material-icons">clear</i></span></a>
            <a href="#">loremipse<span><i class="material-icons">clear</i></span></a>
            <a href="#">Esrite<span><i class="material-icons">clear</i></span></a>
            </div>
      </div>
    </div>

    <div class="row">
      <button class="btn teal darken-1 pull-left" (click)="GoToStep(1)">
        <i class="material-icons">navigate_before</i> 上一步
      </button>
      <button class="btn green darken-3 pull-right" (click)="GoToStep(3)">
        <i class="material-icons">navigate_next</i> 發布文章
      </button>
    </div>
  </div>

  <!--Step2 End-->

</div>

