<div style="background:linear-gradient(#373737, #a3a3a3)">
  <div class="container" style="padding:6% 15% 10% 15%;">
    <div class="row card">
      <div class="card-content">
        <span class="blue-text text-darken-2 card-title"><i class="material-icons">vpn_key</i>&nbsp;&nbsp;Login 登入</span>

        <form [formGroup]="loginForm">
          <div class="panel-body">
            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="user.account" id="account" name="account"
                       type="text" class="validate" formControlName="account">
                <label for="account">Account</label>
                <control-messages [control]="loginForm.controls.account"></control-messages>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="user.password" id="password" name="password"
                       type="password" class="validate" formControlName="password">
                <label for="password">Password</label>
                <control-messages [control]="loginForm.controls.password"></control-messages>
              </div>
            </div>


            <div class="checkbox">
              <!--用$event得知是否勾選-->
              <input type="checkbox" id="rememberMe" name="rememberMe" [checked]="rememberMe" />
              <label for="rememberMe">&nbsp;&nbsp;記住我</label>
            </div>


            <button (click)="login()"
                    class="btn waves-effect waves-light"
                    type="submit" name="action"
                    [disabled]="!(loginForm.dirty && loginForm.valid)" >
              Login
            </button>
            <span class="red-text">　{{errorMsg}}</span>

            <a [routerLink]="['/register']" class="btn purple darken-3 waves-effect waves-light right"><i class="material-icons left">cloud</i>尚未註冊?</a>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

